.pagination .active,.pagination .disabled {
    width: 11%;
    color: #f41068;
    line-height: 2.9em;
    border: 1px solid #eee;
}
.pagination .active span,.pagination .disabled span {
    margin-left: 18px;
}
.pagination li a {
    color: #222222;
}
.category a {
    color: #222222 !important;
}
.category a:hover {
    color:#f41068  !important;
}
.carousel-item img {
    min-height: 40em;
    max-height: 40em;
}
.content-image {
    max-height: 350px;
}